<div class="container">
  <div class="card-category-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, fill: :center %>');">
    <h1><%= @list.name %></h1>
  </div>
  <%= link_to 'Back', lists_path, class: 'btn btn-secondary' %>
  <%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-warning' %>
  <%= link_to 'Delete', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-primary" %>

  <div class="movie-list">
    <h2>Movies in this List:</h2>
    <div class="d-flex flex-wrap">
      <% @list.movies.each do |movie| %>
        <div class="card mb-3" style="max-width: 300px;">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag(movie.poster_url, alt: movie.title, class: "img-thumbnail small-movie-image") %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title"><%= movie.title %></h4>
                <% if bookmark = @list.bookmarks.find_by(movie_id: movie.id) %>
                  <p class="card-text comment"><%= bookmark.comment %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
